body {
  background: rgb(244, 248, 249);
  width: 600px;
  height: 180px;
  border: 2px solid rgb(225, 232, 237);
  font-family: Helvetica;
}
img {
  padding: 30px 20px;
  position: fixed;
}


h2 {
  position: fixed;
  padding: 12px 135px;
}

logo {
  padding: 90px;
  poistion: fixed;
}
